.material-icons {
  font-size: 40px;
}

.material-icons:active {
  color: #badeba;
}

.bg-info {
  background-color: #008000 !important;
}

.log-in-button {
  background-color: #239523 !important;
  color: white;
}

#filter-button {
  background-color: #3a3a3a;
  color: white;
  outline: none !important;
  /*This doesn't remove the blue outline, ask for help*/
  font-weight: bold;
  text-align: center;
  display: block;
  border-radius: 1em;
  margin: 0.5em 0.25em;
  padding: 0.25em 1em;
}

/* #filter-button:hover {
  background-color: white;
  color: #3a3a3a;
} */

#event-card {
  background-color: #3a3a3a;
  color: white;
  outline: none !important;
  /*This doesn't remove the blue outline, ask for help*/
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  display: block;
  border-radius: 1em;
  margin: 0.5em 0.5em;
  padding: 1em 1em;
}

#event-card-banner {
  background-color: white;
  color: #3a3a3a;
  outline: none !important;
  /*This doesn't remove the blue outline, ask for help*/
  font-weight: bold;
  font-size: 16px;
  height: 100%;
  text-align: left;
  display: block;
  border-radius: 1em;
  padding: 1em 1em;
}

#create_event_icon {
  color: black;
}

#create_event_icon:hover {
  color: white;
}

#create_event_icon:visited {
  color: black;
}

#create_heading {
  background-color: #239523;
}

#create_event_button:hover {
  background-color: #9ad09a;
  color: black;
}

#cancel_event_button, #create_event_button {
  height: 50px;
}